@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    color: #303c42;
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    flex-shrink: 0;
}

main {
    flex-grow: 1;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* header */
header {
    padding: 16px 0;
    background: #303c42;
}

nav {
    display: flex;
    align-items: center;
}

nav .logo {
    display: block;
    width: 25%;
    padding: 0 16px;
}

nav ul {
    width: 75%;
    padding: 0 15px;
}

nav ul li {
    display: inline-block;
}

nav ul li:not(:last-child) {
    padding-right: 25px;
}

nav ul a {
    display: block;
    position: relative;
    padding: 10px 0;
    color: #fff;
    font-size: 16px;
}

nav ul a::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: -1px;
    right: -1px;
    z-index: 1;
    height: 2px;
    background: #fff;#006ab5
}

nav ul a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: -1px;
    right: 101%;
    z-index: 2;
    height: 2px;
    background: #25c0f0;
    transition: .5s;
}

nav ul a:hover::before {
    right: -1px;
}

nav ul a.active {
    color: #25c0f0;
}

nav ul a.active::before {
    right: -1px;
}
/* header */

/* main */
.container {
    display: flex;
    padding: 30px 0;
}

.side {
    width: 25%;
    padding: 0 16px;
}

/*sidebar*/
.cd-accordion-menu {
    margin-bottom: 30px;
}
.cd-accordion-menu ul {
    display: none;
    overflow: hidden;
    list-style: none;
}
.cd-accordion-menu li {
    user-select: none;
}
.cd-accordion-menu input[type=checkbox] {
    /* hide native checkbox */
    position: absolute;
    opacity: 0;
}
.cd-accordion-menu label, .cd-accordion-menu a {
    position: relative;
    display: block;
    padding: 10px 16px;
    background: #4d5158;
    border-bottom: 1px solid #565a60;
    color: #fff;
}
.cd-accordion-menu label:hover, .cd-accordion-menu a:hover {
    background: #52565d;
}
.cd-accordion-menu label {
    cursor: pointer;
}
.cd-accordion-menu input[type=checkbox]:checked + label + ul,
.cd-accordion-menu input[type=checkbox]:checked + label:nth-of-type(n) + ul {
    display: block;

}

.cd-accordion-menu ul a {
    background: #35383d;
    padding-left: 32px;
}
.cd-accordion-menu ul label:hover,
.cd-accordion-menu ul a:hover {
    background: #3c3f45;
}
.cd-accordion-menu > li:last-of-type > label,
.cd-accordion-menu > li:last-of-type > a,
.cd-accordion-menu > li > ul > li:last-of-type label,
.cd-accordion-menu > li > ul > li:last-of-type a {
    box-shadow: none;
}

.cd-accordion-menu .arrow {
    display: block;
    position: absolute;
    top: 15px;
    right: 16px;
    height: 10px;
    width: 10px;
    background-image: url('../img/arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
/*sidebar*/

.content {
    width: 50%;
    padding: 0 8px;
}

/*crumbs*/
.content ul {
    padding: 0 8px 33px;
}

.content ul li {
    display: inline-block;
    position: relative;
    padding-right: 16px;
}

.content ul a {
    display: block;
    color: #303c42;
    transition: .5s;
}

.content ul li:not(:last-child)::after {
    content: '/';
    display: block;
    position: absolute;
    top: 0;
    right: 5px;
}

.content ul a:hover {
    color: #25c0f0;
}
/*crumbs*/

.movie-wrap {
    display: flex;
    flex-wrap: wrap;
}
.movie {
    width: 20%;
    padding: 8px;
}

.quote {
    text-align: center;
    font-weight: 900;
    padding: 20px;
    margin: 30px 8px 0;
    background-image: url('../img/paper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* main */

/*search*/
.form-search {
    position: relative;
    padding-bottom: 20px;
}

.form-search label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.form-search input {
    height: 34px;
    width: 100%;
    border-radius: 17px;
    border: 1px solid #303c42;
    background: #fff;
    transition: .5s;
    padding: 10px 10px 10px 40px;
    outline: none;
}

.form-search input:focus,
.form-search input:hover {
    border-color: #25c0f0;
}

.form-search button {
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: 7px;
    height: 24px;
    width: 24px;
    outline: none;
    background: transparent;
    border: none;
}

.form-search button .search-icon {
    display: block;
    height: 16px;
    width: 16px;
    margin: 0 auto;
    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
/*search*/

/*footer*/
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    background: #303c42;
}

footer li {
    display: inline-block;
}

footer li:not(:last-child) {
    border-right: 1px solid #6a7275;
}

footer a {
    display: block;
    padding: 0 16px;
    color: #fff;
    font-size: 12px;
    transition: .5s;
}

footer a:hover {
    color: #25c0f0;
}

footer span {
    color: #fff;
    padding: 0 16px;
    font-size: 12px;
}
/*footer*/